

# ==============================
# PlatformIO
# ==============================
.pio
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/.browse.*
.vscode/ipch/
.vscode/*.log

# ==============================
# Build artifacts
# ==============================
*.o
*.elf
*.bin
*.map

# ==============================
# OS / Editor files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Secrets / Credentials
# ==============================
wifi_secrets.h
secrets.h

# ==============================
# Temporary / test files
# ==============================
test/